.card {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card__item {
    width: 302px;
    min-height: 522px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 0 0 7px 7px;
}

.card__img {
    position: relative;
}

.card__image {
    border-radius: 7px 7px 0 0;
}

.card__new {
    background-image: url(../img/new.png);
    width: 72px;
    height: 72px;
    position: absolute;
    left: -1px;
    top: -1px;
}

.card__price {
    width: 140px;
    height: 35px;
    background-color: #26a6d1;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__price-value {
    font-weight: 600;
}